@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="flex justify-between items-center">
        <h2 class="text-xl font-bold">Data BPKB</h2>
        <a class="btn btn-primary" asp-controller="Bpkb" asp-action="Create">Tambah</a>
    </div>

    <div class="border rounded-lg bg-base-100 shadow-lg overflow-hidden mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Agreement Number</th>
                    <th>Branch Id</th>
                    <th>No. BPKB</th>
                    <th>Tanggal BPKB</th>
                    <th>Tanggal BPKB In</th>
                    <th>No. Faktur</th>
                    <th>Tanggal Faktur</th>
                    <th>Nomor Polisi</th>
                    <th>Lokasi Penyimpanan</th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Bpkbs != null && Model.Bpkbs.Count > 0)
                {
                    @foreach (var bpkb in Model.Bpkbs)
                    {
                        <tr>
                            <td>@bpkb.AgreementNumber</td>
                            <td>@bpkb.BranchId</td>
                            <td>@bpkb.BpkbNo</td>
                            <td>@bpkb.BpkbDate?.ToString("yyyy-MM-dd")</td>
                            <td>@bpkb.BpkbDateIn?.ToString("yyyy-MM-dd")</td>
                            <td>@bpkb.FakturNo</td>
                            <td>@bpkb.FakturDate?.ToString("yyyy-MM-dd")</td>
                            <td>@bpkb.PoliceNo</td>
                            <td>@bpkb.StorageLocation.LocationName</td>
                            <td class="flex gap-x-4 items-center">
                                <a class="btn btn-neutral" asp-controller="Bpkb" asp-action="Edit" asp-route-agreementNumber="@bpkb.AgreementNumber">
                                    Edit
                                </a>
                                <form asp-action="Delete" asp-controller="Bpkb" method="post">
                                    <input type="hidden" name="AgreementNumber" value="@bpkb.AgreementNumber" />
                                    <button type="submit" class="btn btn-error">
                                        Hapus
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr>
                        <td class="text-center py-4" colspan="9">Data BPKB Kosong</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
